In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [9]:
import pandas as pd

movies = pd.read_csv("/content/drive/My Drive/Data/Movie dataset/Small/movies.csv",encoding="Latin1")
Ratings = pd.read_csv("/content/drive/My Drive/Data/Movie dataset/Small/ratings.csv")
Tags = pd.read_csv("/content/drive/My Drive/Data/Movie dataset/Small/tags.csv",encoding="Latin1")

print(movies.shape)
print(Ratings.shape)
print(Tags.shape)

(2500, 3)
(264505, 4)
(94875, 4)

In [10]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [11]:
Ratings.head()

   userId  movieId  rating   timestamp
0   12882        1     4.0  1147195252
1   12882       32     3.5  1147195307
2   12882       47     5.0  1147195343
3   12882       50     5.0  1147185499
4   12882      110     4.5  1147195239

In [13]:
Mean = Ratings.groupby(by="userId",as_index=False)['rating'].mean()
Mean

     userId    rating
0       316  3.329457
1       320  3.701613
2       359  3.685474
3       370  3.794404
4       910  3.898080
..      ...       ...
857  137609  3.711538
858  137805  2.779210
859  138072  2.432927
860  138176  4.107143
861  138200  3.422249

[862 rows x 2 columns]

In [14]:
Rating_avg = pd.merge(Ratings,Mean,on='userId')
Rating_avg # rating_x: rating in each movie; rating_y: average rating all movie

        userId  movieId  rating_x   timestamp  rating_y
0        12882        1       4.0  1147195252  4.061321
1        12882       32       3.5  1147195307  4.061321
2        12882       47       5.0  1147195343  4.061321
3        12882       50       5.0  1147185499  4.061321
4        12882      110       4.5  1147195239  4.061321
...        ...      ...       ...         ...       ...
264500   90097    54286       5.0  1336143258  3.963415
264501   90097    60069       4.5  1336144698  3.963415
264502   90097    68358       5.0  1336144031  3.963415
264503   90097    68954       5.0  1336146596  3.963415
264504   90097    73017       4.0  1336148879  3.963415

[264505 rows x 5 columns]

In [15]:
Rating_avg['adg_rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head() # phim nao co rating cao hon muc trung binh cua 1 user

   userId  movieId  rating_x   timestamp  rating_y  adg_rating
0   12882        1       4.0  1147195252  4.061321   -0.061321
1   12882       32       3.5  1147195307  4.061321   -0.561321
2   12882       47       5.0  1147195343  4.061321    0.938679
3   12882       50       5.0  1147185499  4.061321    0.938679
4   12882      110       4.5  1147195239  4.061321    0.438679

In [16]:
Tags.head()

   movieId  userId           tag   timestamp
0     3916   12882        sports  1147195545
1     4085   12882  Eddie Murphy  1147195966
2    33660   12882        boxing  1147195514
3     1197     320     must show  1145964801
4     1396     320     must show  1145964810

In [17]:
check = pd.pivot_table(Rating_avg,values='rating_x',index='userId',columns='movieId')
check.head()

movieId  1       2       3       4       ...  111362  111759  112556  112852
userId                                   ...
316         2.5     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
320         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
359         5.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
370         4.5     4.0     NaN     NaN  ...     3.0     4.5     3.5     3.0
910         5.0     4.0     3.5     NaN  ...     NaN     4.5     NaN     NaN

[5 rows x 2500 columns]

In [18]:
final = pd.pivot_table(Rating_avg,values='adg_rating',index='userId',columns='movieId')
final.head()

movieId    1         2        3       ...    111759    112556    112852
userId                                ...
316     -0.829457       NaN      NaN  ...       NaN       NaN       NaN
320           NaN       NaN      NaN  ...       NaN       NaN       NaN
359      1.314526       NaN      NaN  ...       NaN       NaN       NaN
370      0.705596  0.205596      NaN  ...  0.705596 -0.294404 -0.794404
910      1.101920  0.101920 -0.39808  ...  0.601920       NaN       NaN

[5 rows x 2500 columns]

In [24]:
final.shape

(862, 2500)

In [21]:
# Replacing NaN by Movie Average (fill na by column)
final_movie = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average (fill na by row)
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [22]:
final_movie.head()

movieId    1         2         3       ...    111759    112556    112852
userId                                 ...
316     -0.829457 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
320      0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
359      1.314526 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
370      0.705596  0.205596 -0.468109  ...  0.705596 -0.294404 -0.794404
910      1.101920  0.101920 -0.398080  ...  0.601920  0.362468  0.349157

[5 rows x 2500 columns]

In [25]:
final_user.head()

movieId        1             2       ...        112556        112852
userId                               ...
316     -8.294574e-01  1.893404e-16  ...  1.893404e-16  1.893404e-16
320      4.297638e-17  4.297638e-17  ...  4.297638e-17  4.297638e-17
359      1.314526e+00 -1.135546e-16  ... -1.135546e-16 -1.135546e-16
370      7.055961e-01  2.055961e-01  ... -2.944039e-01 -7.944039e-01
910      1.101920e+00  1.019202e-01  ...  6.795811e-16  6.795811e-16

[5 rows x 2500 columns]

In [28]:
# user similarity on replacing NAN by user avg
b = cosine_similarity(final_user)
print(b.shape)
b

(862, 862)

array([[ 1.00000000e+00,  6.00630917e-02,  7.20754753e-02, ...,
         7.73765811e-02,  2.69240918e-02, -2.27270553e-02],
       [ 6.00630917e-02,  1.00000000e+00,  6.30541209e-02, ...,
         9.88451426e-02,  3.87524588e-02,  5.66393007e-02],
       [ 7.20754753e-02,  6.30541209e-02,  1.00000000e+00, ...,
         1.02698453e-01,  9.93065563e-02,  3.14714649e-03],
       ...,
       [ 7.73765811e-02,  9.88451426e-02,  1.02698453e-01, ...,
         1.00000000e+00,  9.49195502e-02,  6.47542404e-02],
       [ 2.69240918e-02,  3.87524588e-02,  9.93065563e-02, ...,
         9.49195502e-02,  1.00000000e+00,  8.99631810e-04],
       [-2.27270553e-02,  5.66393007e-02,  3.14714649e-03, ...,
         6.47542404e-02,  8.99631810e-04,  1.00000000e+00]])

In [29]:
np.fill_diagonal(b, 0 )

In [30]:
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()

userId    316       320       359     ...    138072    138176    138200
userId                                ...
316     0.000000  0.060063  0.072075  ...  0.077377  0.026924 -0.022727
320     0.060063  0.000000  0.063054  ...  0.098845  0.038752  0.056639
359     0.072075  0.063054  0.000000  ...  0.102698  0.099307  0.003147
370     0.043266  0.027315  0.135836  ...  0.052187  0.050997  0.009950
910     0.039305  0.006811  0.076131  ...  0.073272 -0.012058  0.007610

[5 rows x 862 columns]

In [31]:
# user similarity on replacing NAN by item(movie) avg
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()

userId    316       320       359     ...    138072    138176    138200
userId                                ...
316     0.000000  0.921169  0.665659  ...  0.671783  0.949138  0.740220
320     0.921169  0.000000  0.687225  ...  0.695382  0.973853  0.768459
359     0.665659  0.687225  0.000000  ...  0.489595  0.707370  0.534065
370     0.673486  0.691158  0.534369  ...  0.497332  0.714011  0.546637
910     0.694247  0.699527  0.523475  ...  0.509008  0.725896  0.554105

[5 rows x 862 columns]

In [32]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n] # ??? no need this function
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [59]:
# top 30 neighbours for each user
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()
# Tim xem 30 user nao gan voi cac user ID cho truoc theo diem so user rating trung binh
# toan bo phim cua tung user

          top1    top2    top3   top4  ...   top27   top28   top29   top30
userId                                 ...
316     113673  117918    9050  12882  ...   58265   89527   49830   63902
320      12288  113673   28159  79846  ...   80946   10055   64365  106512
359     102118   96482  102532  50898  ...   86768  129498  131620   58346
370      46645   42245   40768  23428  ...  117144   96482    2988  108195
910      87042  131620   67352  40768  ...   18115  114601   23428   17039

[5 rows x 30 columns]

In [87]:
# top 30 neighbours for each user
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()
# Tim xem 30 user nao gan voi cac user ID cho truoc theo diem so movie rating trung binh
#cua toan bo user

          top1    top2    top3   top4  ...   top27   top28   top29   top30
userId                                 ...
316     138176  100240   96936  51460  ...  124981   93203   81435   94333
320     138176   96936  121403   1447  ...   93203   80585  136037   22338
359     138176    1447    5268  96936  ...   57474   27142   80585   22338
370      86309   44194  138176  24802  ...   80585   13927   21401  136037
910      96936  107991  138176  27142  ...   61755  124981   88455   78908

[5 rows x 30 columns]

Pick user 370 and user 86309 to see how similar they are

###Explain

In [51]:
df=similarity_with_user.copy()
print(df.shape)
df.head()

(862, 862)

userId    316       320       359     ...    138072    138176    138200
userId                                ...
316     0.000000  0.060063  0.072075  ...  0.077377  0.026924 -0.022727
320     0.060063  0.000000  0.063054  ...  0.098845  0.038752  0.056639
359     0.072075  0.063054  0.000000  ...  0.102698  0.099307  0.003147
370     0.043266  0.027315  0.135836  ...  0.052187  0.050997  0.009950
910     0.039305  0.006811  0.076131  ...  0.073272 -0.012058  0.007610

[5 rows x 862 columns]

In [52]:
n=30
order = np.argsort(df.values, axis=1)#[:, :n]
print(order.shape)
order
# Returns the indices that would sort an array (index column id only)

(862, 862)

array([[682, 506, 332, ...,  44, 729, 704],
       [694, 720, 332, ..., 178, 704,  64],
       [332, 659, 730, ..., 637, 595, 634],
       ...,
       [691, 793, 332, ..., 207,  52, 417],
       [323, 290, 601, ..., 317, 254, 341],
       [318, 528, 447, ..., 557,  84,  64]])

In [57]:
np.sort(order[0])[:30]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [48]:
df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False).iloc[:n].index, 
                                  index=['top{}'.format(i) for i in range(1, n+1)]),
              axis=1)
# sort value tung row theo thu tu cao xuong thap, return index of each value
print(df.shape)
df.head()
# return column name with highest value (decending)

(862, 30)

          top1    top2    top3   top4  ...   top27   top28   top29   top30
userId                                 ...
316     113673  117918    9050  12882  ...   58265   89527   49830   63902
320      12288  113673   28159  79846  ...   80946   10055   64365  106512
359     102118   96482  102532  50898  ...   86768  129498  131620   58346
370      46645   42245   40768  23428  ...  117144   96482    2988  108195
910      87042  131620   67352  40768  ...   18115  114601   23428   17039

[5 rows x 30 columns]

###End

Lets check our self whether what we calculated really makes sense !!

In [108]:
def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.userId == user1].merge(
    Rating_avg[Rating_avg.userId == user2],
    on = "movieId",
    how = "inner" )
    common_movies.movieId=common_movies.movieId.astype('int64')
    return common_movies.merge( movies, on = 'movieId' )

In [109]:
a = get_user_similar_movies(370,86309)
a = a.loc[ : , ['rating_x_x','rating_x_y','title']]
a.head()
# tim xem 2 user nay co nhung phim nao chung, xem rating va movie cac phim nay

   rating_x_x  rating_x_y                                              title
0         5.0         5.0                                 Matrix, The (1999)
1         5.0         4.5  Lord of the Rings: The Fellowship of the Ring,...
2         5.0         4.0      Lord of the Rings: The Two Towers, The (2002)
3         4.5         4.0  Lord of the Rings: The Return of the King, The...
4         1.5         1.0                                    Serenity (2005)

###Explain

In [91]:
Rating_avg.head()

   userId movieId  rating_x   timestamp  rating_y  adg_rating
0   12882       1       4.0  1147195252  4.061321   -0.061321
1   12882      32       3.5  1147195307  4.061321   -0.561321
2   12882      47       5.0  1147195343  4.061321    0.938679
3   12882      50       5.0  1147185499  4.061321    0.938679
4   12882     110       4.5  1147195239  4.061321    0.438679

In [92]:
user1=370
user2=86309

In [93]:
Rating_avg[Rating_avg.userId == user1].head()

        userId movieId  rating_x   timestamp  rating_y  adg_rating
215570     370       1       4.5  1200776471  3.794404    0.705596
215571     370       2       4.0  1228059945  3.794404    0.205596
215572     370       6       5.0  1174732452  3.794404    1.205596
215573     370      25       4.5  1186944967  3.794404    0.705596
215574     370      32       5.0  1174732353  3.794404    1.205596

In [94]:
Rating_avg[Rating_avg.userId == user2].head()

        userId movieId  rating_x   timestamp  rating_y  adg_rating
131642   86309    2393       3.0  1215578439  3.611111   -0.611111
131643   86309    2571       5.0  1215580355  3.611111    1.388889
131644   86309    4993       4.5  1215580294  3.611111    0.888889
131645   86309    5952       4.0  1215580301  3.611111    0.388889
131646   86309    7153       4.0  1215580304  3.611111    0.388889

In [95]:
common_movies = Rating_avg[Rating_avg.userId == user1].merge(
                          Rating_avg[Rating_avg.userId == user2],
                          on = "movieId",
                          how = "inner" )
common_movies # tim xem giua 2 user co nhung movie nao chung

    userId_x movieId  rating_x_x  ...  timestamp_y  rating_y_y  adg_rating_y
0        370    2571         5.0  ...   1215580355    3.611111      1.388889
1        370    4993         5.0  ...   1215580294    3.611111      0.888889
2        370    5952         5.0  ...   1215580301    3.611111      0.388889
3        370    7153         4.5  ...   1215580304    3.611111      0.388889
4        370   34405         1.5  ...   1215578686    3.611111     -2.611111
5        370   44022         3.5  ...   1215579255    3.611111     -0.111111
6        370   46976         5.0  ...   1215578976    3.611111     -0.111111
7        370   48774         3.0  ...   1215578787    3.611111     -0.111111
8        370   51540         4.0  ...   1215579101    3.611111      0.388889
9        370   53125         1.0  ...   1215579033    3.611111      0.388889
10       370   58559         4.0  ...   1221724081    3.611111      0.388889
11       370   60069         3.5  ...   1215580229    3.611111      0.888889

[12 rows x 11 columns]

In [104]:

common_movies.movieId=common_movies.movieId.astype('int64')
common_movies.movieId

0      2571
1      4993
2      5952
3      7153
4     34405
5     44022
6     46976
7     48774
8     51540
9     53125
10    58559
11    60069
Name: movieId, dtype: int64

In [96]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [103]:
movies.movieId

0            1
1            2
2            3
3            4
4            5
         ...
2495    109487
2496    111362
2497    111759
2498    112556
2499    112852
Name: movieId, Length: 2500, dtype: int64

In [106]:
common_movies.merge(movies, on = 'movieId' ).head()

   userId_x  ...                          genres
0       370  ...          Action|Sci-Fi|Thriller
1       370  ...               Adventure|Fantasy
2       370  ...               Adventure|Fantasy
3       370  ...  Action|Adventure|Drama|Fantasy
4       370  ...         Action|Adventure|Sci-Fi

[5 rows x 13 columns]

In [107]:
common_movies.merge(movies, on = 'movieId' ).\
loc[ : , ['rating_x_x','rating_x_y','title']].head()

   rating_x_x  rating_x_y                                              title
0         5.0         5.0                                 Matrix, The (1999)
1         5.0         4.5  Lord of the Rings: The Fellowship of the Ring,...
2         5.0         4.0      Lord of the Rings: The Two Towers, The (2002)
3         4.5         4.0  Lord of the Rings: The Return of the King, The...
4         1.5         1.0                                    Serenity (2005)

###End

In [110]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [111]:
score = User_item_score(320,7371)
print("score (u,i) is",score)

score (u,i) is 4.255766437391595

### Explain

In [116]:
sim_user_30_m

          top1    top2    top3    top4  ...   top27   top28   top29   top30
userId                                  ...
316     138176  100240   96936   51460  ...  124981   93203   81435   94333
320     138176   96936  121403    1447  ...   93203   80585  136037   22338
359     138176    1447    5268   96936  ...   57474   27142   80585   22338
370      86309   44194  138176   24802  ...   80585   13927   21401  136037
910      96936  107991  138176   27142  ...   61755  124981   88455   78908
...        ...     ...     ...     ...  ...     ...     ...     ...     ...
137609  138176   96936    1447   51460  ...   27142   54643  121290   94333
137805   51255  138176   88932  114335  ...   54643   53819  118304  124981
138072  138176    5268   65648   51255  ...  102549  103582   54114   83479
138176   96936    1447   51460  121403  ...  102549   94333  124454   54643
138200  138176   27142   42944   96936  ...   88455  128079   93347  124454

[862 rows x 30 columns]

In [117]:
user=320
item=7371
a = sim_user_30_m[sim_user_30_m.index==user].values
a # tim xem cac user nao similar voi user vua chon

array([[138176,  96936, 121403,   1447,  51460, 125012,  88932,  42944,
          5268, 104529,  12930,  13927, 129869,  27142,  51255, 100240,
        128079,  21401, 114335, 104732, 121987, 102549, 118304,  86309,
         94333, 124981,  93203,  80585, 136037,  22338]])

In [119]:
b = a.squeeze().tolist()
print(b)

[138176, 96936, 121403, 1447, 51460, 125012, 88932, 42944, 5268, 104529, 12930, 13927, 129869, 27142, 51255, 100240, 128079, 21401, 114335, 104732, 121987, 102549, 118304, 86309, 94333, 124981, 93203, 80585, 136037, 22338]

In [121]:
final_movie

movieId    1         2         3       ...    111759    112556    112852
userId                                 ...
316     -0.829457 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
320      0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
359      1.314526 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
370      0.705596  0.205596 -0.468109  ...  0.705596 -0.294404 -0.794404
910      1.101920  0.101920 -0.398080  ...  0.601920  0.362468  0.349157
...           ...       ...       ...  ...       ...       ...       ...
137609   0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
137805   1.220790 -0.779210 -0.468109  ...  0.234458  0.362468  1.220790
138072   0.567073 -1.432927 -1.432927  ...  0.234458  0.362468  0.349157
138176   0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
138200  -0.422249 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157

[862 rows x 2500 columns]

In [120]:
c = final_movie.loc[:,item]
c # tim xem tai colum movie id (item) co nhung user nao rating (average)

userId
316       0.554154
320       0.554154
359       0.554154
370       0.705596
910       0.554154
            ...
137609    0.554154
137805    0.554154
138072    0.554154
138176    0.554154
138200    0.577751
Name: 7371, Length: 862, dtype: float64

In [122]:
d = c[c.index.isin(b)]
d # Loc cac user similar voi user o tren

userId
1447      0.554154
5268      0.554154
12930     0.554154
13927     0.554154
21401     0.554154
22338     0.554154
27142     0.554154
42944     0.554154
51255     0.554154
51460     0.554154
80585     0.554154
86309     0.554154
88932     0.554154
93203     0.554154
94333     0.554154
96936     0.554154
100240    0.554154
102549    0.554154
104529    0.554154
104732    0.554154
114335    0.554154
118304    0.554154
121403    0.554154
121987    0.554154
124981    0.554154
125012    0.554154
128079    0.554154
129869    0.554154
136037    0.554154
138176    0.554154
Name: 7371, dtype: float64

In [123]:
f = d[d.notnull()]
f

userId
1447      0.554154
5268      0.554154
12930     0.554154
13927     0.554154
21401     0.554154
22338     0.554154
27142     0.554154
42944     0.554154
51255     0.554154
51460     0.554154
80585     0.554154
86309     0.554154
88932     0.554154
93203     0.554154
94333     0.554154
96936     0.554154
100240    0.554154
102549    0.554154
104529    0.554154
104732    0.554154
114335    0.554154
118304    0.554154
121403    0.554154
121987    0.554154
124981    0.554154
125012    0.554154
128079    0.554154
129869    0.554154
136037    0.554154
138176    0.554154
Name: 7371, dtype: float64

In [125]:
Mean

     userId    rating
0       316  3.329457
1       320  3.701613
2       359  3.685474
3       370  3.794404
4       910  3.898080
..      ...       ...
857  137609  3.711538
858  137805  2.779210
859  138072  2.432927
860  138176  4.107143
861  138200  3.422249

[862 rows x 2 columns]

In [126]:
Mean.loc[Mean['userId'] == user,'rating']

1    3.701613
Name: rating, dtype: float64

In [124]:
avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
avg_user # average rating of this user

3.7016129032258065

In [128]:
index = f.index.values.squeeze().tolist()
print(index)

[1447, 5268, 12930, 13927, 21401, 22338, 27142, 42944, 51255, 51460, 80585, 86309, 88932, 93203, 94333, 96936, 100240, 102549, 104529, 104732, 114335, 118304, 121403, 121987, 124981, 125012, 128079, 129869, 136037, 138176]

In [129]:
corr = similarity_with_movie.loc[user,index]
corr

userId
1447      0.970234
5268      0.968571
12930     0.968229
13927     0.967932
21401     0.966505
22338     0.963998
27142     0.967627
42944     0.968901
51255     0.967171
51460     0.969980
80585     0.964440
86309     0.964799
88932     0.969214
93203     0.964499
94333     0.964605
96936     0.972050
100240    0.967120
102549    0.964844
104529    0.968452
104732    0.966156
114335    0.966281
118304    0.964808
121403    0.970736
121987    0.965176
124981    0.964574
125012    0.969272
128079    0.966704
129869    0.967705
136037    0.964076
138176    0.973853
Name: 320, dtype: float64

In [130]:
fin = pd.concat([f, corr], axis=1)
fin

            7371      320
userId
1447    0.554154  0.970234
5268    0.554154  0.968571
12930   0.554154  0.968229
13927   0.554154  0.967932
21401   0.554154  0.966505
22338   0.554154  0.963998
27142   0.554154  0.967627
42944   0.554154  0.968901
51255   0.554154  0.967171
51460   0.554154  0.969980
80585   0.554154  0.964440
86309   0.554154  0.964799
88932   0.554154  0.969214
93203   0.554154  0.964499
94333   0.554154  0.964605
96936   0.554154  0.972050
100240  0.554154  0.967120
102549  0.554154  0.964844
104529  0.554154  0.968452
104732  0.554154  0.966156
114335  0.554154  0.966281
118304  0.554154  0.964808
121403  0.554154  0.970736
121987  0.554154  0.965176
124981  0.554154  0.964574
125012  0.554154  0.969272
128079  0.554154  0.966704
129869  0.554154  0.967705
136037  0.554154  0.964076
138176  0.554154  0.973853

In [131]:
fin.columns = ['adg_score','correlation']
fin.head()

        adg_score  correlation
userId
1447     0.554154     0.970234
5268     0.554154     0.968571
12930    0.554154     0.968229
13927    0.554154     0.967932
21401    0.554154     0.966505

In [132]:
fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
fin.head()

        adg_score  correlation     score
userId
1447     0.554154     0.970234  0.537658
5268     0.554154     0.968571  0.536737
12930    0.554154     0.968229  0.536547
13927    0.554154     0.967932  0.536383
21401    0.554154     0.966505  0.535592

In [133]:
nume = fin['score'].sum()
deno = fin['correlation'].sum()
print(avg_user, nume, deno)
final_score = avg_user + (nume/deno)
final_score

3.7016129032258065 16.080710233866697 29.018510651699202

4.255766437391595

### End

In [135]:
Rating_avg = Rating_avg.astype({"movieId": str})
Rating_avg

        userId movieId  rating_x   timestamp  rating_y  adg_rating
0        12882       1       4.0  1147195252  4.061321   -0.061321
1        12882      32       3.5  1147195307  4.061321   -0.561321
2        12882      47       5.0  1147195343  4.061321    0.938679
3        12882      50       5.0  1147185499  4.061321    0.938679
4        12882     110       4.5  1147195239  4.061321    0.438679
...        ...     ...       ...         ...       ...         ...
264500   90097   54286       5.0  1336143258  3.963415    1.036585
264501   90097   60069       4.5  1336144698  3.963415    0.536585
264502   90097   68358       5.0  1336144031  3.963415    1.036585
264503   90097   68954       5.0  1336146596  3.963415    1.036585
264504   90097   73017       4.0  1336148879  3.963415    0.036585

[264505 rows x 6 columns]

In [136]:

Movie_user = Rating_avg.groupby(by = 'userId')['movieId'].apply(lambda x:','.join(x))
Movie_user
# loc tat ca cac movie cua tung user

userId
316       1,7,10,32,34,150,160,163,165,185,196,223,253,2...
320       47,50,260,296,508,527,541,648,750,923,1136,119...
359       1,6,10,11,19,22,24,29,32,34,36,42,44,47,50,62,...
370       1,2,6,25,32,47,50,70,111,153,223,293,296,306,3...
910       1,2,3,5,6,11,15,16,25,32,34,52,62,95,100,110,1...
                                ...
137609    28,47,252,256,261,318,327,355,562,1042,1246,14...
137805    1,2,10,11,34,39,44,46,47,62,66,70,110,112,141,...
138072    1,2,3,9,10,11,12,18,19,24,31,34,39,44,50,63,65...
138176    44,318,502,527,711,858,1092,1221,1371,2023,239...
138200    1,32,39,47,110,165,215,253,342,355,364,367,374...
Name: movieId, Length: 862, dtype: object

In [113]:
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'movieId':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    Movie_Name = top_5_recommendation.merge(movies, how='inner', on='movieId')
    Movie_Names = Movie_Name.title.values.tolist()
    return Movie_Names

In [134]:
user = int(input("Enter the user id to whom you want to recommend : "))
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id :",user)
print("   ")
for i in predicted_movies:
    print(i)

Enter the user id to whom you want to recommend : 320

The Recommendations for User Id : 320

Godfather, The (1972)
Shawshank Redemption, The (1994)
Godfather: Part II, The (1974)
Band of Brothers (2001)
Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)

### Explain

In [138]:
Rating_avg = Rating_avg.astype({"movieId": str})
Rating_avg

        userId movieId  rating_x   timestamp  rating_y  adg_rating
0        12882       1       4.0  1147195252  4.061321   -0.061321
1        12882      32       3.5  1147195307  4.061321   -0.561321
2        12882      47       5.0  1147195343  4.061321    0.938679
3        12882      50       5.0  1147185499  4.061321    0.938679
4        12882     110       4.5  1147195239  4.061321    0.438679
...        ...     ...       ...         ...       ...         ...
264500   90097   54286       5.0  1336143258  3.963415    1.036585
264501   90097   60069       4.5  1336144698  3.963415    0.536585
264502   90097   68358       5.0  1336144031  3.963415    1.036585
264503   90097   68954       5.0  1336146596  3.963415    1.036585
264504   90097   73017       4.0  1336148879  3.963415    0.036585

[264505 rows x 6 columns]

In [139]:
Movie_user = Rating_avg.groupby(by = 'userId')['movieId'].apply(lambda x:','.join(x))
Movie_user

userId
316       1,7,10,32,34,150,160,163,165,185,196,223,253,2...
320       47,50,260,296,508,527,541,648,750,923,1136,119...
359       1,6,10,11,19,22,24,29,32,34,36,42,44,47,50,62,...
370       1,2,6,25,32,47,50,70,111,153,223,293,296,306,3...
910       1,2,3,5,6,11,15,16,25,32,34,52,62,95,100,110,1...
                                ...
137609    28,47,252,256,261,318,327,355,562,1042,1246,14...
137805    1,2,10,11,34,39,44,46,47,62,66,70,110,112,141,...
138072    1,2,3,9,10,11,12,18,19,24,31,34,39,44,50,63,65...
138176    44,318,502,527,711,858,1092,1221,1371,2023,239...
138200    1,32,39,47,110,165,215,253,342,355,364,367,374...
Name: movieId, Length: 862, dtype: object

In [141]:
check # matrix userId and movieId (average scoring)

movieId  1       2       3       4       ...  111362  111759  112556  112852
userId                                   ...
316         2.5     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
320         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
359         5.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
370         4.5     4.0     NaN     NaN  ...     3.0     4.5     3.5     3.0
910         5.0     4.0     3.5     NaN  ...     NaN     4.5     NaN     NaN
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
137609      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
137805      4.0     2.0     NaN     NaN  ...     NaN     NaN     NaN     4.0
138072      3.0     1.0     1.0     NaN  ...     NaN     NaN     NaN     NaN
138176      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
138200      3.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[862 rows x 2500 columns]

In [144]:
user=320

In [146]:
check[check.index==user].notna()

movieId  1       2       3       4       ...  111362  111759  112556  112852
userId                                   ...
320       False   False   False   False  ...   False   False   False   False

[1 rows x 2500 columns]

In [147]:
check[check.index==user].notna().any()

movieId
1         False
2         False
3         False
4         False
5         False
          ...
109487    False
111362    False
111759    False
112556    False
112852    False
Length: 2500, dtype: bool

In [143]:

Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
print(Movie_seen_by_user)
# Loc tat ca column (movie ID) seen by user (not na)

[47, 50, 260, 296, 508, 527, 541, 648, 750, 923, 1136, 1196, 1197, 1198, 1208, 1304, 1396, 1517, 1527, 1584, 1597, 1639, 1917, 1997, 2011, 2012, 2028, 2174, 2329, 2359, 2502, 2571, 2617, 2710, 2762, 2858, 2959, 3052, 3481, 3555, 3793, 3948, 3996, 4011, 4033, 4161, 4226, 4343, 4878, 4993, 5445, 5481, 5952, 6016, 6711, 6947, 7361, 7438, 8961, 33794, 44191, 44195]

In [148]:
sim_user_30_m

          top1    top2    top3    top4  ...   top27   top28   top29   top30
userId                                  ...
316     138176  100240   96936   51460  ...  124981   93203   81435   94333
320     138176   96936  121403    1447  ...   93203   80585  136037   22338
359     138176    1447    5268   96936  ...   57474   27142   80585   22338
370      86309   44194  138176   24802  ...   80585   13927   21401  136037
910      96936  107991  138176   27142  ...   61755  124981   88455   78908
...        ...     ...     ...     ...  ...     ...     ...     ...     ...
137609  138176   96936    1447   51460  ...   27142   54643  121290   94333
137805   51255  138176   88932  114335  ...   54643   53819  118304  124981
138072  138176    5268   65648   51255  ...  102549  103582   54114   83479
138176   96936    1447   51460  121403  ...  102549   94333  124454   54643
138200  138176   27142   42944   96936  ...   88455  128079   93347  124454

[862 rows x 30 columns]

In [149]:
a = sim_user_30_m[sim_user_30_m.index==user].values
a # tim tat ca user id gan voi user da chon

array([[138176,  96936, 121403,   1447,  51460, 125012,  88932,  42944,
          5268, 104529,  12930,  13927, 129869,  27142,  51255, 100240,
        128079,  21401, 114335, 104732, 121987, 102549, 118304,  86309,
         94333, 124981,  93203,  80585, 136037,  22338]])

In [151]:
b = a.squeeze().tolist()
print(b)

[138176, 96936, 121403, 1447, 51460, 125012, 88932, 42944, 5268, 104529, 12930, 13927, 129869, 27142, 51255, 100240, 128079, 21401, 114335, 104732, 121987, 102549, 118304, 86309, 94333, 124981, 93203, 80585, 136037, 22338]

In [152]:
d = Movie_user[Movie_user.index.isin(b)]
d # tim tat ca cac phim cua cac user similar voi user da chon

userId
1447      1,318,858,1193,1221,2382,2641,3157,3248,3267,3...
5268      93,207,318,527,912,914,1342,1499,1620,2183,242...
12930     11,314,915,921,954,969,1081,2369,2567,2572,262...
13927     1,32,50,110,296,318,356,377,380,527,593,1260,1...
21401     175,671,1032,1206,1982,1983,2389,2395,2995,378...
22338     47,50,101,170,180,296,527,750,903,913,922,923,...
27142     253,296,327,1327,2140,2346,2571,2772,3210,4011...
42944     48,596,805,1094,1148,1320,1376,1552,1673,2001,...
51255     50,318,527,719,858,912,1020,1188,1198,2020,214...
51460     70,173,318,377,589,592,1036,1377,1527,1573,190...
80585     110,260,318,527,1036,1196,1198,1210,1291,2571,...
86309     2393,2571,4993,5952,7153,8984,34405,40732,4402...
88932     207,898,1185,1373,1727,2021,2490,2686,2717,308...
93203     260,296,750,912,1031,1136,1196,1197,1688,1760,...
94333     110,168,315,903,1092,1186,1210,1246,1266,1375,...
96936     24,273,413,719,743,1321,1357,1590,1663,2160,23...
100240    32,236,296,356,551,608,1136,1197,1222,1258,125...
102549    193,215,315,431,1092,1275,1293,1377,1408,1909,...
104529    293,1017,1035,1073,1103,1199,2048,2065,2395,25...
104732    47,356,1270,1682,2329,2542,4011,4973,4995,7154...
114335    839,858,1717,1792,1835,1840,2402,3301,3439,356...
118304    31,105,215,223,247,261,356,446,475,541,661,922...
121403    296,379,419,435,485,527,593,778,849,1089,2571,...
121987    1,239,260,327,344,353,588,720,745,913,1064,107...
124981    296,356,431,480,1213,1347,1387,1388,1389,1889,...
125012    50,110,246,318,356,446,916,1704,2028,2273,2324...
128079    345,2028,2953,3062,3654,3967,4621,5952,7034,71...
129869    1,838,1035,1097,1876,1959,2353,2692,3089,3793,...
136037    260,318,527,1196,1198,1213,1291,2571,6016,7502...
138176    44,318,502,527,711,858,1092,1221,1371,2023,239...
Name: movieId, dtype: object

In [154]:
l = ','.join(d.values)
Movie_seen_by_similar_users = l.split(',')
print(len(Movie_seen_by_similar_users))
print(Movie_seen_by_similar_users)
# List tat ca phim ma nhung similar users đã xem

822
['1', '318', '858', '1193', '1221', '2382', '2641', '3157', '3248', '3267', '3328', '3404', '3578', '3717', '4673', '6586', '6615', '7502', '40815', '58559', '81847', '86332', '93', '207', '318', '527', '912', '914', '1342', '1499', '1620', '2183', '2427', '3066', '3755', '4643', '6218', '6539', '7386', '8132', '45722', '49272', '54997', '11', '314', '915', '921', '954', '969', '1081', '2369', '2567', '2572', '2622', '2686', '2805', '2942', '2971', '3083', '3536', '3836', '3897', '5377', '7444', '8623', '1', '32', '50', '110', '296', '318', '356', '377', '380', '527', '593', '1260', '1270', '1376', '2571', '2672', '3386', '4370', '4639', '5009', '5055', '6934', '7263', '81562', '81845', '175', '671', '1032', '1206', '1982', '1983', '2389', '2395', '2995', '3786', '3949', '4979', '8533', '8957', '39446', '48877', '50872', '56145', '56367', '47', '50', '101', '170', '180', '296', '527', '750', '903', '913', '922', '923', '1031', '1089', '1206', '1212', '1228', '1573', '1590', '1729', '2010', '2019', '2144', '2194', '2470', '2712', '2716', '2791', '2797', '2858', '3000', '3089', '3462', '3503', '3552', '3591', '3698', '3742', '3949', '4002', '4406', '5291', '5618', '5673', '6016', '7444', '7451', '8783', '27773', '31658', '48774', '48780', '55820', '56367', '56782', '79132', '79702', '106782', '106920', '109487', '253', '296', '327', '1327', '2140', '2346', '2571', '2772', '3210', '4011', '4027', '4467', '4873', '4878', '4979', '5072', '5128', '27846', '48394', '51662', '54190', '68157', '69757', '48', '596', '805', '1094', '1148', '1320', '1376', '1552', '1673', '2001', '2081', '2302', '2321', '2353', '2761', '3176', '3623', '7438', '7981', '8961', '50', '318', '527', '719', '858', '912', '1020', '1188', '1198', '2020', '2140', '2478', '2490', '2881', '3174', '3247', '3752', '4002', '4321', '4367', '4975', '58559', '70', '173', '318', '377', '589', '592', '1036', '1377', '1527', '1573', '1909', '2115', '2470', '2571', '2858', '4034', '4235', '4993', '4995', '5418', '5952', '8873', '110', '260', '318', '527', '1036', '1196', '1198', '1210', '1291', '2571', '5349', '5952', '6377', '6539', '6874', '7153', '58559', '81834', '87232', '88125', '112852', '2393', '2571', '4993', '5952', '7153', '8984', '34405', '40732', '44022', '45431', '46976', '48774', '51540', '51935', '53125', '53953', '58559', '60069', '207', '898', '1185', '1373', '1727', '2021', '2490', '2686', '2717', '3081', '3107', '3993', '4014', '4993', '5171', '5952', '6539', '6565', '7153', '30793', '45722', '53125', '54001', '260', '296', '750', '912', '1031', '1136', '1196', '1197', '1688', '1760', '2010', '2020', '2042', '2428', '2571', '2677', '2764', '2858', '2863', '2959', '3489', '3786', '3988', '4054', '4226', '4973', '4993', '4995', '5349', '5445', '5991', '7153', '8366', '8368', '8665', '40815', '58559', '79132', '98809', '110', '168', '315', '903', '1092', '1186', '1210', '1246', '1266', '1375', '1909', '1959', '1961', '2353', '2762', '3256', '4886', '4995', '5218', '5816', '6874', '33166', '24', '273', '413', '719', '743', '1321', '1357', '1590', '1663', '2160', '2371', '2616', '2959', '3174', '3273', '3363', '3424', '3863', '3949', '4321', '81591', '32', '236', '296', '356', '551', '608', '1136', '1197', '1222', '1258', '1259', '1270', '2028', '2174', '2291', '2571', '2699', '2858', '2959', '2986', '4975', '7254', '7347', '7361', '37729', '58293', '58559', '59315', '60074', '193', '215', '315', '431', '1092', '1275', '1293', '1377', '1408', '1909', '2278', '2289', '2427', '2959', '3101', '3555', '41997', '55276', '57669', '68157', '69122', '69757', '70286', '72011', '74458', '293', '1017', '1035', '1073', '1103', '1199', '2048', '2065', '2395', '2594', '4973', '5618', '5902', '6242', '6874', '7361', '26662', '46976', '81591', '47', '356', '1270', '1682', '2329', '2542', '4011', '4973', '4995', '7154', '7162', '44191', '48780', '58559', '59315', '60069', '68954', '69757', '70286', '72011', '72998', '79091', '79132', '80463', '81591', '81845', '85414', '89745', '91529', '91658', '99114', '839', '858', '1717', '1792', '1835', '1840', '2402', '3301', '3439', '3564', '3916', '4069', '4776', '5108', '7445', '8781', '8861', '27808', '34150', '45499', '49278', '53125', '55765', '58559', '59315', '60074', '63859', '31', '105', '215', '223', '247', '261', '356', '446', '475', '541', '661', '922', '924', '969', '1060', '1096', '1104', '1172', '1227', '1240', '1249', '1270', '1280', '1285', '1357', '1747', '1952', '2193', '2336', '2407', '2919', '2968', '3019', '3039', '3255', '3256', '5225', '8014', '8874', '296', '379', '419', '435', '485', '527', '593', '778', '849', '1089', '2571', '2716', '2762', '3273', '4011', '4034', '4041', '4226', '6874', '7438', '8983', '36529', '44191', '54995', '64957', '68157', '69122', '69526', '77455', '1', '239', '260', '327', '344', '353', '588', '720', '745', '913', '1064', '1073', '1136', '1148', '1196', '1197', '1198', '1215', '1223', '1265', '1270', '1282', '1291', '1377', '1527', '1580', '2092', '2115', '2413', '2571', '2628', '2633', '2683', '2720', '2924', '3275', '3397', '3740', '3996', '4232', '4306', '4386', '4886', '4993', '5618', '5903', '5952', '6377', '6539', '6618', '7153', '7373', '8360', '8665', '8961', '31878', '33794', '34405', '45517', '45722', '50872', '51255', '53125', '57640', '58559', '59315', '59615', '60069', '61132', '66934', '68358', '68954', '76251', '77561', '79091', '79132', '79702', '81564', '82461', '87306', '88140', '89745', '91529', '93840', '97913', '98809', '102125', '111362', '111759', '112852', '296', '356', '431', '480', '1213', '1347', '1387', '1388', '1389', '1889', '1975', '1982', '2107', '2513', '2687', '2722', '3173', '4105', '4262', '5283', '5572', '7325', '7360', '7387', '8366', '52245', '88744', '50', '110', '246', '318', '356', '446', '916', '1704', '2028', '2273', '2324', '2355', '2424', '2571', '2762', '3147', '3354', '4226', '4370', '4993', '4995', '5952', '7153', '7502', '58559', '79132', '81845', '92259', '111362', '111759', '345', '2028', '2953', '3062', '3654', '3967', '4621', '5952', '7034', '7153', '7701', '8973', '31410', '39183', '40815', '1', '838', '1035', '1097', '1876', '1959', '2353', '2692', '3089', '3793', '5009', '6502', '7438', '8622', '30707', '40629', '45447', '46972', '52722', '53123', '55820', '260', '318', '527', '1196', '1198', '1213', '1291', '2571', '6016', '7502', '53996', '56587', '57640', '58559', '60072', '61323', '64957', '71535', '72641', '80463', '81591', '81845', '81847', '91500', '92259', '109487', '44', '318', '502', '527', '711', '858', '1092', '1221', '1371', '2023', '2393', '5872', '68157', '95510']

In [157]:
Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
print(len(Movies_under_consideration))
print(Movies_under_consideration)
# Lấy list movie by similar user - movie seen by user được list cac moive tiềm năng

530
['247', '2683', '8360', '589', '1321', '1097', '7373', '2107', '2919', '7701', '1342', '3039', '3967', '3916', '53953', '1375', '3897', '4995', '45722', '81562', '838', '87232', '3836', '1982', '2699', '3536', '2291', '5572', '5055', '593', '3089', '63859', '5291', '1620', '81845', '1223', '1265', '4027', '719', '2542', '52245', '207', '7034', '1185', '55765', '3019', '1792', '2764', '34150', '59615', '2048', '1249', '8873', '33166', '1590', '85414', '3248', '2346', '5349', '1213', '3083', '3081', '3623', '3439', '314', '2369', '7347', '1275', '1081', '7162', '8781', '4386', '914', '2065', '68954', '1291', '2355', '5991', '898', '1221', '2712', '50872', '95510', '91529', '51255', '1373', '4069', '48780', '2321', '74458', '82461', '711', '55276', '77455', '1729', '1036', '3397', '6874', '2183', '2986', '37729', '5009', '40815', '81847', '1983', '2594', '3354', '6218', '31', '3578', '475', '46976', '671', '3256', '273', '2924', '551', '88140', '745', '27808', '6934', '1760', '6618', '8533', '112852', '3404', '2023', '81591', '93840', '3066', '52722', '46972', '1240', '7502', '3255', '4014', '49272', '1258', '56145', '3564', '353', '2160', '2395', '3176', '1552', '34405', '2194', '2968', '40732', '89745', '49278', '39183', '849', '3742', '105', '4873', '293', '4886', '502', '1227', '4673', '8984', '53996', '3363', '1663', '4979', '2953', '111759', '1228', '6502', '596', '1270', '2302', '413', '11', '81834', '31658', '2772', '91658', '1377', '2001', '168', '2278', '2042', '106782', '88744', '6586', '1092', '327', '2717', '588', '64957', '3000', '3717', '3786', '1840', '778', '4041', '61323', '592', '87306', '3552', '1017', '58293', '5618', '5128', '2393', '88125', '2616', '608', '8957', '68157', '2628', '253', '1876', '8623', '1260', '5072', '2641', '69122', '79091', '4002', '2407', '1020', '1210', '31410', '79132', '2353', '30707', '3174', '31878', '61132', '3173', '2687', '805', '4306', '2092', '77561', '4370', '4232', '5418', '54995', '1387', '1388', '3740', '60069', '215', '5902', '2677', '41997', '954', '30793', '2572', '68358', '922', '4321', '446', '2402', '5872', '4406', '912', '7254', '3993', '6565', '72641', '236', '261', '8783', '2797', '2478', '1193', '69757', '915', '57640', '1246', '4467', '27773', '3503', '59315', '40629', '1320', '45431', '66934', '4973', '93', '2019', '1073', '2424', '2428', '1060', '2716', '5903', '7325', '5225', '485', '924', '356', '1704', '109487', '1094', '2863', '480', '3755', '3654', '913', '4105', '3301', '344', '916', '3275', '3101', '1835', '24', '1952', '431', '1727', '7263', '36529', '80463', '7154', '3489', '54997', '661', '2021', '2115', '1371', '2427', '70286', '2881', '1673', '76251', '44', '2722', '839', '4639', '3424', '92259', '5377', '8368', '1961', '5816', '2513', '3328', '3386', '45517', '48774', '2995', '32', '60074', '57669', '3949', '86332', '4367', '3062', '3210', '2010', '1573', '1', '70', '8132', '180', '4776', '7153', '4034', '7444', '1032', '2413', '5171', '8665', '2273', '2470', '2805', '435', '246', '3107', '1212', '79702', '8366', '1285', '26662', '8874', '60072', '91500', '3988', '315', '97913', '2140', '51540', '2336', '1199', '2382', '419', '7981', '2371', '1206', '58559', '1148', '1717', '1172', '7386', '2144', '3267', '2567', '743', '81564', '2791', '2672', '4235', '8973', '7451', '1347', '98809', '56367', '2720', '1031', '4621', '969', '48394', '1959', '99114', '110', '6615', '1280', '175', '6539', '379', '7387', '48877', '921', '3591', '1103', '858', '54001', '39446', '5218', '3273', '2389', '7360', '2761', '2020', '193', '2971', '111362', '239', '102125', '106920', '53125', '51662', '1266', '2686', '1975', '4054', '56587', '53123', '72011', '72998', '1889', '8014', '71535', '1282', '1089', '720', '27846', '4975', '1357', '1389', '3147', '3698', '2622', '2081', '1327', '45499', '69526', '56782', '1215', '2692', '223', '1222', '380', '1580', '45447', '54190', '3752', '2942', '1035', '2633', '8622', '8983', '6242', '173', '3247', '345', '5283', '51935', '1104', '55820', '377', '48', '2490', '4262', '8861', '1909', '1376', '4643', '318', '1499', '1688', '170', '3462', '5673', '3863', '1682', '2193', '5108', '1747', '1188', '7445', '1259', '2324', '2289', '3157', '6377', '1064', '44022', '903', '1408', '1186', '1096', '101', '1293']

In [158]:
Movies_under_consideration = list(map(int, Movies_under_consideration))
print(Movies_under_consideration)
# Chuyển list này thành int

[247, 2683, 8360, 589, 1321, 1097, 7373, 2107, 2919, 7701, 1342, 3039, 3967, 3916, 53953, 1375, 3897, 4995, 45722, 81562, 838, 87232, 3836, 1982, 2699, 3536, 2291, 5572, 5055, 593, 3089, 63859, 5291, 1620, 81845, 1223, 1265, 4027, 719, 2542, 52245, 207, 7034, 1185, 55765, 3019, 1792, 2764, 34150, 59615, 2048, 1249, 8873, 33166, 1590, 85414, 3248, 2346, 5349, 1213, 3083, 3081, 3623, 3439, 314, 2369, 7347, 1275, 1081, 7162, 8781, 4386, 914, 2065, 68954, 1291, 2355, 5991, 898, 1221, 2712, 50872, 95510, 91529, 51255, 1373, 4069, 48780, 2321, 74458, 82461, 711, 55276, 77455, 1729, 1036, 3397, 6874, 2183, 2986, 37729, 5009, 40815, 81847, 1983, 2594, 3354, 6218, 31, 3578, 475, 46976, 671, 3256, 273, 2924, 551, 88140, 745, 27808, 6934, 1760, 6618, 8533, 112852, 3404, 2023, 81591, 93840, 3066, 52722, 46972, 1240, 7502, 3255, 4014, 49272, 1258, 56145, 3564, 353, 2160, 2395, 3176, 1552, 34405, 2194, 2968, 40732, 89745, 49278, 39183, 849, 3742, 105, 4873, 293, 4886, 502, 1227, 4673, 8984, 53996, 3363, 1663, 4979, 2953, 111759, 1228, 6502, 596, 1270, 2302, 413, 11, 81834, 31658, 2772, 91658, 1377, 2001, 168, 2278, 2042, 106782, 88744, 6586, 1092, 327, 2717, 588, 64957, 3000, 3717, 3786, 1840, 778, 4041, 61323, 592, 87306, 3552, 1017, 58293, 5618, 5128, 2393, 88125, 2616, 608, 8957, 68157, 2628, 253, 1876, 8623, 1260, 5072, 2641, 69122, 79091, 4002, 2407, 1020, 1210, 31410, 79132, 2353, 30707, 3174, 31878, 61132, 3173, 2687, 805, 4306, 2092, 77561, 4370, 4232, 5418, 54995, 1387, 1388, 3740, 60069, 215, 5902, 2677, 41997, 954, 30793, 2572, 68358, 922, 4321, 446, 2402, 5872, 4406, 912, 7254, 3993, 6565, 72641, 236, 261, 8783, 2797, 2478, 1193, 69757, 915, 57640, 1246, 4467, 27773, 3503, 59315, 40629, 1320, 45431, 66934, 4973, 93, 2019, 1073, 2424, 2428, 1060, 2716, 5903, 7325, 5225, 485, 924, 356, 1704, 109487, 1094, 2863, 480, 3755, 3654, 913, 4105, 3301, 344, 916, 3275, 3101, 1835, 24, 1952, 431, 1727, 7263, 36529, 80463, 7154, 3489, 54997, 661, 2021, 2115, 1371, 2427, 70286, 2881, 1673, 76251, 44, 2722, 839, 4639, 3424, 92259, 5377, 8368, 1961, 5816, 2513, 3328, 3386, 45517, 48774, 2995, 32, 60074, 57669, 3949, 86332, 4367, 3062, 3210, 2010, 1573, 1, 70, 8132, 180, 4776, 7153, 4034, 7444, 1032, 2413, 5171, 8665, 2273, 2470, 2805, 435, 246, 3107, 1212, 79702, 8366, 1285, 26662, 8874, 60072, 91500, 3988, 315, 97913, 2140, 51540, 2336, 1199, 2382, 419, 7981, 2371, 1206, 58559, 1148, 1717, 1172, 7386, 2144, 3267, 2567, 743, 81564, 2791, 2672, 4235, 8973, 7451, 1347, 98809, 56367, 2720, 1031, 4621, 969, 48394, 1959, 99114, 110, 6615, 1280, 175, 6539, 379, 7387, 48877, 921, 3591, 1103, 858, 54001, 39446, 5218, 3273, 2389, 7360, 2761, 2020, 193, 2971, 111362, 239, 102125, 106920, 53125, 51662, 1266, 2686, 1975, 4054, 56587, 53123, 72011, 72998, 1889, 8014, 71535, 1282, 1089, 720, 27846, 4975, 1357, 1389, 3147, 3698, 2622, 2081, 1327, 45499, 69526, 56782, 1215, 2692, 223, 1222, 380, 1580, 45447, 54190, 3752, 2942, 1035, 2633, 8622, 8983, 6242, 173, 3247, 345, 5283, 51935, 1104, 55820, 377, 48, 2490, 4262, 8861, 1909, 1376, 4643, 318, 1499, 1688, 170, 3462, 5673, 3863, 1682, 2193, 5108, 1747, 1188, 7445, 1259, 2324, 2289, 3157, 6377, 1064, 44022, 903, 1408, 1186, 1096, 101, 1293]

In [162]:
final_movie

movieId    1         2         3       ...    111759    112556    112852
userId                                 ...
316     -0.829457 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
320      0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
359      1.314526 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
370      0.705596  0.205596 -0.468109  ...  0.705596 -0.294404 -0.794404
910      1.101920  0.101920 -0.398080  ...  0.601920  0.362468  0.349157
...           ...       ...       ...  ...       ...       ...       ...
137609   0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
137805   1.220790 -0.779210 -0.468109  ...  0.234458  0.362468  1.220790
138072   0.567073 -1.432927 -1.432927  ...  0.234458  0.362468  0.349157
138176   0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
138200  -0.422249 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157

[862 rows x 2500 columns]

In [163]:
Mean

     userId    rating
0       316  3.329457
1       320  3.701613
2       359  3.685474
3       370  3.794404
4       910  3.898080
..      ...       ...
857  137609  3.711538
858  137805  2.779210
859  138072  2.432927
860  138176  4.107143
861  138200  3.422249

[862 rows x 2 columns]

In [164]:
similarity_with_movie

userId    316       320       359     ...    138072    138176    138200
userId                                ...
316     0.000000  0.921169  0.665659  ...  0.671783  0.949138  0.740220
320     0.921169  0.000000  0.687225  ...  0.695382  0.973853  0.768459
359     0.665659  0.687225  0.000000  ...  0.489595  0.707370  0.534065
370     0.673486  0.691158  0.534369  ...  0.497332  0.714011  0.546637
910     0.694247  0.699527  0.523475  ...  0.509008  0.725896  0.554105
...          ...       ...       ...  ...       ...       ...       ...
137609  0.922262  0.943265  0.686193  ...  0.686172  0.967661  0.759154
137805  0.587738  0.612746  0.418283  ...  0.428412  0.622916  0.499194
138072  0.671783  0.695382  0.489595  ...  0.000000  0.709688  0.548885
138176  0.949138  0.973853  0.707370  ...  0.709688  0.000000  0.784733
138200  0.740220  0.768459  0.534065  ...  0.548885  0.784733  0.000000

[862 rows x 862 columns]

In [169]:
#user=320
score = []
for item in Movies_under_consideration[:2]:
  print('-'*50)
  c = final_movie.loc[:,item] 
  print('c loc ra toan bo user theo colum movie dang chọn \n',c) # loc ra toan bo user theo colum movie dang chọn
  print(len(c))
  d = c[c.index.isin(b)]  
  print('d loc cac user id lien quan voi user da chon\n',d) # loc cac user id lien quan voi user da chon (b)
  print(len(d))
  f = d[d.notnull()] 
  print('f loai bo null user\n',f) # loai bo null user
  print(len(f))
  avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0] 
  print('avg_user\n',avg_user)#loc mean rating value cua user đang chon
  index = f.index.values.squeeze().tolist()
  print('index return index cac user id similar to user đã chọn\n',index) # return index cac user id similar to user đã chọn
  print(len(index))
  corr = similarity_with_movie.loc[user,index]
  print('corr\n',corr)
  fin = pd.concat([f, corr], axis=1)
  print('fin\n',fin)
  fin.columns = ['adg_score','correlation']
  fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
  print('fin\n',fin)
  nume = fin['score'].sum()
  print('nume\n',nume)
  deno = fin['correlation'].sum()
  print('deno\n',deno)
  final_score = avg_user + (nume/deno)
  print('final_score\n',final_score)
  score.append(final_score)
print('list_score',score)

--------------------------------------------------
c loc ra toan bo user theo colum movie dang chọn
 userId
316       0.126576
320       0.126576
359       0.126576
370       0.126576
910       0.126576
            ...
137609    0.126576
137805    0.126576
138072    0.126576
138176    0.126576
138200    0.126576
Name: 247, Length: 862, dtype: float64
862
d loc cac user id lien quan voi user da chon
 userId
1447      0.126576
5268      0.126576
12930     0.126576
13927     0.126576
21401     0.126576
22338     0.126576
27142     0.126576
42944     0.126576
51255     0.126576
51460     0.126576
80585     0.126576
86309     0.126576
88932     0.126576
93203     0.126576
94333     0.126576
96936     0.126576
100240    0.126576
102549    0.126576
104529    0.126576
104732    0.126576
114335    0.126576
118304    0.410256
121403    0.126576
121987    0.126576
124981    0.126576
125012    0.126576
128079    0.126576
129869    0.126576
136037    0.126576
138176    0.126576
Name: 247, dtype: float64
30
f loai bo null user
 userId
1447      0.126576
5268      0.126576
12930     0.126576
13927     0.126576
21401     0.126576
22338     0.126576
27142     0.126576
42944     0.126576
51255     0.126576
51460     0.126576
80585     0.126576
86309     0.126576
88932     0.126576
93203     0.126576
94333     0.126576
96936     0.126576
100240    0.126576
102549    0.126576
104529    0.126576
104732    0.126576
114335    0.126576
118304    0.410256
121403    0.126576
121987    0.126576
124981    0.126576
125012    0.126576
128079    0.126576
129869    0.126576
136037    0.126576
138176    0.126576
Name: 247, dtype: float64
30
avg_user
 3.7016129032258065
index return index cac user id similar to user đã chọn
 [1447, 5268, 12930, 13927, 21401, 22338, 27142, 42944, 51255, 51460, 80585, 86309, 88932, 93203, 94333, 96936, 100240, 102549, 104529, 104732, 114335, 118304, 121403, 121987, 124981, 125012, 128079, 129869, 136037, 138176]
30
corr
 userId
1447      0.970234
5268      0.968571
12930     0.968229
13927     0.967932
21401     0.966505
22338     0.963998
27142     0.967627
42944     0.968901
51255     0.967171
51460     0.969980
80585     0.964440
86309     0.964799
88932     0.969214
93203     0.964499
94333     0.964605
96936     0.972050
100240    0.967120
102549    0.964844
104529    0.968452
104732    0.966156
114335    0.966281
118304    0.964808
121403    0.970736
121987    0.965176
124981    0.964574
125012    0.969272
128079    0.966704
129869    0.967705
136037    0.964076
138176    0.973853
Name: 320, dtype: float64
fin
              247       320
userId
1447    0.126576  0.970234
5268    0.126576  0.968571
12930   0.126576  0.968229
13927   0.126576  0.967932
21401   0.126576  0.966505
22338   0.126576  0.963998
27142   0.126576  0.967627
42944   0.126576  0.968901
51255   0.126576  0.967171
51460   0.126576  0.969980
80585   0.126576  0.964440
86309   0.126576  0.964799
88932   0.126576  0.969214
93203   0.126576  0.964499
94333   0.126576  0.964605
96936   0.126576  0.972050
100240  0.126576  0.967120
102549  0.126576  0.964844
104529  0.126576  0.968452
104732  0.126576  0.966156
114335  0.126576  0.966281
118304  0.410256  0.964808
121403  0.126576  0.970736
121987  0.126576  0.965176
124981  0.126576  0.964574
125012  0.126576  0.969272
128079  0.126576  0.966704
129869  0.126576  0.967705
136037  0.126576  0.964076
138176  0.126576  0.973853
fin
         adg_score  correlation     score
userId
1447     0.126576     0.970234  0.122809
5268     0.126576     0.968571  0.122598
12930    0.126576     0.968229  0.122555
13927    0.126576     0.967932  0.122517
21401    0.126576     0.966505  0.122337
22338    0.126576     0.963998  0.122020
27142    0.126576     0.967627  0.122479
42944    0.126576     0.968901  0.122640
51255    0.126576     0.967171  0.122421
51460    0.126576     0.969980  0.122777
80585    0.126576     0.964440  0.122075
86309    0.126576     0.964799  0.122121
88932    0.126576     0.969214  0.122680
93203    0.126576     0.964499  0.122083
94333    0.126576     0.964605  0.122096
96936    0.126576     0.972050  0.123039
100240   0.126576     0.967120  0.122415
102549   0.126576     0.964844  0.122127
104529   0.126576     0.968452  0.122583
104732   0.126576     0.966156  0.122293
114335   0.126576     0.966281  0.122308
118304   0.410256     0.964808  0.395819
121403   0.126576     0.970736  0.122872
121987   0.126576     0.965176  0.122169
124981   0.126576     0.964574  0.122092
125012   0.126576     0.969272  0.122687
128079   0.126576     0.966704  0.122362
129869   0.126576     0.967705  0.122489
136037   0.126576     0.964076  0.122029
138176   0.126576     0.973853  0.123267
nume
 3.946757891740345
deno
 29.018510651699202
final_score
 3.837621189078659
--------------------------------------------------
c loc ra toan bo user theo colum movie dang chọn
 userId
316       0.670543
320      -0.330811
359      -0.330811
370      -0.330811
910       1.101920
            ...
137609   -0.330811
137805   -0.279210
138072   -1.432927
138176   -0.330811
138200   -2.922249
Name: 2683, Length: 862, dtype: float64
862
d loc cac user id lien quan voi user da chon
 userId
1447     -0.330811
5268     -0.330811
12930    -0.330811
13927    -0.330811
21401    -0.330811
22338    -0.330811
27142    -0.330811
42944    -0.330811
51255    -0.330811
51460    -0.330811
80585    -0.330811
86309    -0.330811
88932    -0.330811
93203    -0.330811
94333    -0.330811
96936    -0.330811
100240   -0.330811
102549   -0.330811
104529   -0.330811
104732   -0.330811
114335   -0.330811
118304   -0.330811
121403   -0.330811
121987   -0.172222
124981   -0.330811
125012   -0.330811
128079   -0.330811
129869   -0.330811
136037   -0.330811
138176   -0.330811
Name: 2683, dtype: float64
30
f loai bo null user
 userId
1447     -0.330811
5268     -0.330811
12930    -0.330811
13927    -0.330811
21401    -0.330811
22338    -0.330811
27142    -0.330811
42944    -0.330811
51255    -0.330811
51460    -0.330811
80585    -0.330811
86309    -0.330811
88932    -0.330811
93203    -0.330811
94333    -0.330811
96936    -0.330811
100240   -0.330811
102549   -0.330811
104529   -0.330811
104732   -0.330811
114335   -0.330811
118304   -0.330811
121403   -0.330811
121987   -0.172222
124981   -0.330811
125012   -0.330811
128079   -0.330811
129869   -0.330811
136037   -0.330811
138176   -0.330811
Name: 2683, dtype: float64
30
avg_user
 3.7016129032258065
index return index cac user id similar to user đã chọn
 [1447, 5268, 12930, 13927, 21401, 22338, 27142, 42944, 51255, 51460, 80585, 86309, 88932, 93203, 94333, 96936, 100240, 102549, 104529, 104732, 114335, 118304, 121403, 121987, 124981, 125012, 128079, 129869, 136037, 138176]
30
corr
 userId
1447      0.970234
5268      0.968571
12930     0.968229
13927     0.967932
21401     0.966505
22338     0.963998
27142     0.967627
42944     0.968901
51255     0.967171
51460     0.969980
80585     0.964440
86309     0.964799
88932     0.969214
93203     0.964499
94333     0.964605
96936     0.972050
100240    0.967120
102549    0.964844
104529    0.968452
104732    0.966156
114335    0.966281
118304    0.964808
121403    0.970736
121987    0.965176
124981    0.964574
125012    0.969272
128079    0.966704
129869    0.967705
136037    0.964076
138176    0.973853
Name: 320, dtype: float64
fin
             2683      320
userId
1447   -0.330811  0.970234
5268   -0.330811  0.968571
12930  -0.330811  0.968229
13927  -0.330811  0.967932
21401  -0.330811  0.966505
22338  -0.330811  0.963998
27142  -0.330811  0.967627
42944  -0.330811  0.968901
51255  -0.330811  0.967171
51460  -0.330811  0.969980
80585  -0.330811  0.964440
86309  -0.330811  0.964799
88932  -0.330811  0.969214
93203  -0.330811  0.964499
94333  -0.330811  0.964605
96936  -0.330811  0.972050
100240 -0.330811  0.967120
102549 -0.330811  0.964844
104529 -0.330811  0.968452
104732 -0.330811  0.966156
114335 -0.330811  0.966281
118304 -0.330811  0.964808
121403 -0.330811  0.970736
121987 -0.172222  0.965176
124981 -0.330811  0.964574
125012 -0.330811  0.969272
128079 -0.330811  0.966704
129869 -0.330811  0.967705
136037 -0.330811  0.964076
138176 -0.330811  0.973853
fin
         adg_score  correlation     score
userId
1447    -0.330811     0.970234 -0.320964
5268    -0.330811     0.968571 -0.320414
12930   -0.330811     0.968229 -0.320301
13927   -0.330811     0.967932 -0.320203
21401   -0.330811     0.966505 -0.319731
22338   -0.330811     0.963998 -0.318901
27142   -0.330811     0.967627 -0.320102
42944   -0.330811     0.968901 -0.320523
51255   -0.330811     0.967171 -0.319951
51460   -0.330811     0.969980 -0.320880
80585   -0.330811     0.964440 -0.319047
86309   -0.330811     0.964799 -0.319166
88932   -0.330811     0.969214 -0.320627
93203   -0.330811     0.964499 -0.319067
94333   -0.330811     0.964605 -0.319102
96936   -0.330811     0.972050 -0.321565
100240  -0.330811     0.967120 -0.319934
102549  -0.330811     0.964844 -0.319181
104529  -0.330811     0.968452 -0.320375
104732  -0.330811     0.966156 -0.319615
114335  -0.330811     0.966281 -0.319657
118304  -0.330811     0.964808 -0.319169
121403  -0.330811     0.970736 -0.321130
121987  -0.172222     0.965176 -0.166225
124981  -0.330811     0.964574 -0.319092
125012  -0.330811     0.969272 -0.320646
128079  -0.330811     0.966704 -0.319797
129869  -0.330811     0.967705 -0.320128
136037  -0.330811     0.964076 -0.318927
138176  -0.330811     0.973853 -0.322161
nume
 -9.446581124680735
deno
 29.018510651699202
final_score
 3.3760765158465462
list_score [3.837621189078659, 3.3760765158465462]

In [ ]:
data = pd.DataFrame({'movieId':Movies_under_consideration,'score':score})
top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
Movie_Name = top_5_recommendation.merge(movies, how='inner', on='movieId')
Movie_Names = Movie_Name.title.values.tolist()
print(Movie_Names)